:root {
    --primary: #ff6ad5;
    --secondary: #10d7ae;
    --tertiary: #fe7771;
}
.primary-font {
    color: var(--primary);
}
.secondary-font {
    color: var(--secondary);
}
.tertiary-font {
    color: var(--tertiary);
}
.primary-border {
    border-color: var(--primary);
}
.secondary-border {
    border-color: var(--secondary);
}
.tertiary-border {
    border-color: var(--tertiary);
}
.company-title {
    font-size: 2.5em;
    margin-bottom: .1em;
    font-family: monospace;
}
body {
    text-align: center;
    color: #333;
}
body, button, p {
    font-size: 1.5em;
    font-family: sans-serif;
}
main {
    margin: auto auto;
    margin-top: 1em;
    margin-bottom: 3em;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    font-size: .5em;
}
article {
    border: 3px solid white;
    border-radius: 6px;
}
article::after, details::after {
    content: "\A\A";
    white-space: pre;
}
mark {
    background: none;
    background-color: none;
}
button {
    border-radius: 6px;
    background: white;
}
@media (prefers-color-scheme: dark) {
    body, footer {
        background: #222;
    }
    body, main, footer {
        color: #eee;
    }
}