@font-face {
    font-family: 'Baumans';
    src: url(/assets/Baumans-Regular.ttf);
}
:root {
    --primary: #ff9ab9;
    --secondary: #01fff3;
    --tertiary: #0099ff;
    --light: #eee;
    --dark: #111;
}
.primary-font {
    color: var(--primary);
}
.secondary-font {
    color: var(--secondary);
}
.tertiary-font {
    color: var(--tertiary);
}
.primary-border {
    border-color: var(--primary);
}
.secondary-border {
    border-color: var(--secondary);
}
.tertiary-border {
    border-color: var(--tertiary);
}
.company-title {
    font-size: 2.5em;
    margin-bottom: .1em;
    font-family: monospace;
}
.company-tagline {
    font-style: oblique;
}
.company-title, h1, h2, h3 {
    font-family: 'Baumans', monospace;
}
.link {
    color: var(--tertiary);
    text-decoration: none;
}
.link:after {
    content: "\2192";
}
.link:hover {
    color: var(--secondary);
    text-decoration: underline;
}
.m-1em {
    margin: 1em;
}
.socicon {
    max-width: 2em;
    filter: drop-shadow(1px 1px #333);
}
h2 {
    font-size: 200%;
}
body {
    text-align: center;
    color: #222;
    background: var(--light);
    text-shadow: 1px 1px #333;
}
body, button, p {
    font-size: 1.5em;
    font-family: sans-serif;
}
main {
    margin: auto auto;
    margin-top: 1em;
    margin-bottom: 3em;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--light);
    font-size: .5em;
}
article {
    border: .3em solid var(--dark);
    border-radius: 6px;
    max-width: 720px;
    margin: auto;
    box-shadow: 2px 2px 3px 3px var();
}
article::after, details::after {
    content: "\A\A";
    white-space: pre;
}
mark {
    background: none;
    background-color: none;
}
button {
    border-radius: 6px;
    background: var(--light);
}
@media (prefers-color-scheme: dark) {
    body, footer {
        background: var(--dark);
        text-shadow: 1px 1px #333;
    }
    body, main, footer {
        color: var(--light);
    }
    article {
        border-color: var(--light);
    }
    .socicon {
        filter: drop-shadow(1px 1px #333);
    }
}